<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
        .margin5{
        margin-bottom: 5px;
        }

    </style>
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="jumbotron">
    <div class="display-3">Add Salary Details</div>
</div>
<div class="container">
    <form method="post">
        <div class="container card card-body col-md-4 form-registration">
            <input type="number" name="inputWorkingDays" id="inputWorkingDays" class="margin5 form-control form-field"
                   placeholder="Working Days"
                   required autofocus="">
            <input type="text" name="inputPaymentMode" id="inputPaymentMode" class="margin5 form-control" placeholder="Payment Mode"
                   required>
            <input type="number" name="inputBasicSalary" id="inputBasicSalary" class="margin5 form-control" placeholder="Basic Salary"
                   required>
            <input type="number" name="inputPf" id="inputPf" class="margin5 form-control" placeholder="PF"
                   required>
            <input type="number" name="inputTotEarning" id="inputTotEarning" class="margin5 form-control" placeholder="Total Earnings">
            <input type="number" name="inputProfTax" id="inputProfTax" class="margin5 form-control" placeholder="Professional Tax"
                   required>
            <input type="number" name="inputNetSalary" id="inputNetSalary" class="margin5 form-control" placeholder="Net Salary">

            <button class="btn btn-primary margin5" type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>