<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
        .margin5{
        margin-bottom: 5px;
        }

    </style>
</head>
<body>
<div class="jumbotron">
    <div class="display-3">Add Employee</div>
</div>
<div class="container">
    <form method="post">
        <div class="container card card-body col-md-4 form-registration">
            <input type="text" name="inputFName" id="inputFName" class="margin5 form-control form-field"
                   placeholder="First Name"
                   required autofocus="">
            <input type="text" name="inputLName" id="inputLName" class="margin5 form-control" placeholder="Last Name"
                   required>
            <div style="padding-left:40px" class="margin5">
                <label class="form-label">Gender :</label>
                <div class="form-check form-check-inline">
                    <input class=" form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                           value="Male">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check  form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                           value="Female">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
            </div>
            <input type="email" name="inputEmail" id="inputEmail" class="margin5 form-control" placeholder="Email"
                   required>
            <input type="tel" name="inputMobNo" id="inputMobNo" class="margin5 form-control" placeholder="Mobile No"
                   required>
            <input type="text" name="inputAddress" id="inputAddress" class="margin5 form-control" placeholder="Address">
            <input type="date" name="joiningDate" id="joiningDate" class="margin5 form-control"
                   placeholder="Joining Date"
                   required>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control margin5"
                   placeholder="Password"
                   required>
            <button class="btn btn-primary margin5" type="submit">Sign up</button>
        </div>
    </form>
</div>
</body>
</html>