{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="{{ url_for('static', filename='profile.svg') }}" id="imgProfile"
                                     style="width: 150px; height: 150px" />
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a
                                        href="javascript:void(0);"> {{ employee.firstName}} {{ employee.lastName }}</a>
                                </h2>
                                <h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>
                                <h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                       value="Discard Changes"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                     aria-labelledby="basicInfo-tab">


                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Full Name</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ employee.firstName}} {{ employee.lastName }}
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Mobile No</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ employee.mobileNo}}
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ employee.email}}
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Address</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ employee.address}}
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Joining Date</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ employee.joiningDate}}
                                        </div>
                                    </div>
                                        <div class="col-sm-3 col-md-2 col-5">
                                           <a href="{{url_for('employee.add_salary',empId=employee.employeeId)}}"><button class="btn btn-sm btn-primary btn-block" onclick="" type="submit">
                                               Add Salary
                                           </button></a>
                                        </div>

                                    </div>
                                    <hr/>
                                </div>

                                </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}